@model User

@{
    ViewData["Title"] = "User Information";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile mt-2 mb-3">
    <div class="row my-2">
        @{
            var role = Context.Request.Cookies["Role"];
            if (role != null)
            {
                <h5>
                    Tên người dùng: @Model.UserName
                </h5>
                <h6>
                    Quyền hạn:
                    @{
                        if (role != null)
                        {
                            role.ToString();
                        }
                        else
                        {
                            <span>Chưa có quyền nào</span>
                        }
                    }
                </h6>

            }

        }

    </div>
    <div class="row">
        <div class="col-2 ">
            <div class="profile-img border rounded-circle border-dark border-5 d-flex  justify-content-center align-items-center" style=" overflow: hidden;">
                <img src="/img/user.jpg" alt="Defaut avt" class="img-fluid" style="max-width: 100%; object-fit: cover;">
            </div>
        </div>

        <div class="col-9 g-1">
            <div class="profile-head ">
                <div class="container-fluid border border-dark rounded">
                    <div class="row d-flex">
                        <div class="col justify-content-end">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">Tài khoản </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false">Cá nhân </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col m-3">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Tên tài khoản</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.UserName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Họ</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.FirstName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Tên</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.LastName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Email</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Địa chỉ</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Address</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Sinh nhật</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.BirthDay.ToString("dd/MM/yy")</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Độ tuổi</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Age</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Họ</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.FirstName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold">Tên</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.LastName</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-md-4">
            <div class="profile-work">
                <span> <i class="fa-solid fa-gear me-2"></i>Cài đặt</span> <br>
                <a asp-action="UpdateUser" asp-controller="Auth">Thay đổi thông tin</a><br />
                <a asp-action="ChangePassword" asp-controller="Auth">Thay đổi mật khẩu</a><br />
                <br>
                <span><i class="fa-solid fa-store me-2"></i>Cửa hàng</span> <br>
                <a href="/Laptop">Sản phẩm</a><br />
                <a href="/Cart">Giỏ hàng</a><br />
                <a href="/Cart/Order">Hoá đơn</a><br />
                <a href="/Laptop/Dichvu">Dịch vụ</a><br />

            </div>
        </div>
    </div>
</div>