@model UserGroupRolePage
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin - Settings - Authority";
}
<div class="" id="main" style="position: absolute;">

    <div class="row ">
        <div class="col-4">
            <h1 class="">Quản trị</h1>

            <div class="col ">
                <div class="form-group">
                    <label for="employeeSelect">Chọn nhân viên:</label>
                    <select class="form-control" id="userSelect">
                        <option value="none">Chọn người dùng</option>
                        @foreach (var m in Model.Users)
                        {
                            <option value="@m.Id">@m.FullName</option>
                        }
                        <!-- Thêm các lựa chọn khác tương ứng với các nhân viên khác -->
                    </select>
                </div>
            </div>
            <div class="row row-cols-1 " id="userInfoDiv">
                
            </div>


            <script>
                $(document).ready(function () {
                    $('#userSelect').change(function () {
                        var selectedUserId = $(this).val(); // Lấy giá trị userId từ select
                        $('#CheckRoleList input').prop('checked', false);
                        if (selectedUserId === "none") {
                            $('#userInfoDiv').addClass("d-none"); // Ẩn div khi selectedUserId có giá trị là "none"
                        } else {
                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:4000/api/UserGroup/GetRoleInUser?userId=' + selectedUserId,
                                success: function (data) {

                                    // Kiểm tra và đánh dấu các ô checkbox trong phạm vi vòng lặp
                                    data.forEach(function (role) {
                                        console.log(role.id)
                                        $("#CheckRoleList input#" + role.id).prop('checked', true);
                                    });
                                },
                                error: function () {
                                    // Xử lý lỗi khi gọi Ajax
                                    alert("bug");
                                }
                            });
                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:4000/api/Account/GetUserById?id=' + selectedUserId,
                                success: function (data) {
                                    $('#userInfoDiv').removeClass("d-none");
                                    $('#userInfoDiv').empty(); // Xóa thông tin khác

                                    // Chèn thông tin khác vào userInfoDiv
                                    var userNameHtml = '<span class="col">Tên đăng nhập: ' + data.userName + '</span>';
                                    var userInfoHtml = '<span class="col">Họ tên: ' + data.fullName + '</span>';
                                    var userAddressHtml = '<span class="col">Địa chỉ: ' + data.address + '</span>';
                                    var userPhoneHtml = '<span class="col">Số điện thoại: ' + data.phoneNumber + '</span>';
                                    var imageHtml = '<div class="col"><img src="http://localhost:4000/' + data.avatarUrl + '" alt="Avatar" style="width: 100px; height: 100px; border-radius: 4px;"></div>';
                                    $('#userInfoDiv').append(userNameHtml).append(userInfoHtml).append(userAddressHtml).append(userPhoneHtml).append(imageHtml);
                                },
                                error: function () {
                                    // Xử lý lỗi khi gọi Ajax
                                }
                            });

                        }
                    });
                });
            </script>

            <div class="form-group mt-4" id="SelectGroupRole">
                <label for="roleSelect">Chọn phân quyền nhanh:</label>
                @foreach (var g in Model.GroupRoles)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@g.Id" id="@g.Id">
                        <label class="form-check-label" for="@g.Id">
                            @g.Description
                        </label>
                    </div>
                }
            </div>

            <script>
                $(document).ready(function () {
                    $('#SelectGroupRole .form-check-input').change(function () {
                        if ($(this).is(':checked')) {
                            var selectedGroupId = $(this).val(); // Lấy giá trị groupId từ checkbox
                            var userId = $('#userSelect').val();

                            if (userId === "none") {
                                $('#ChoiseUserPlease').modal('show');
                            }
                            else {
                                $.ajax({
                                    type: 'POST',
                                    url: 'http://localhost:4000/api/UserGroup/CreateUserGroup?userId=' + userId + '&groupId=' + selectedGroupId,
                                    success: function (response) {
                                        alert(response); // Hiển thị thông báo thành công từ phương thức
                                        $('#CheckRoleList input').prop('checked', false);
                                        $.ajax({
                                            type: 'GET',
                                            url: 'http://localhost:4000/api/UserGroup/GetRoleInUser?userId=' + userId,
                                            success: function (data) {

                                                // Kiểm tra và đánh dấu các ô checkbox trong phạm vi vòng lặp
                                                data.forEach(function (role) {
                                                    console.log(role.id);
                                                    $("#CheckRoleList input#" + role.id).prop('checked', true);
                                                });
                                            },
                                            error: function () {
                                                // Xử lý lỗi khi gọi Ajax
                                                alert("bug");
                                            }
                                        });
                                        // Xử lý các thao tác khác sau khi thành công (nếu cần)

                                    },
                                    error: function (xhr, status, error) {
                                        alert(xhr.responseText); // Hiển thị thông báo lỗi từ phương thức

                                        // Xử lý các thao tác khác khi có lỗi (nếu cần)

                                    }
                                });
                            }

                        }
                    });
                });
            </script>
        </div>
        <form class="col-8">
            <div class="container">
                <h3>Quyền sở hữu</h3>
                <div class="row row-cols-2 mt-2" id="CheckRoleList">
                    @foreach (var group in Model.GroupRoles)
                    {
                        <div class="col-6">
                            <a class="text-decoration-none text-black d-flex justify-content-between fs-5 fw-bold">
                                <span>
                                    @group.Name : @group.Description
                                </span>
                            </a>
                            <div class="row row-cols-2 mt-2">
                                @foreach (var role in group.Roles)
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="@role.Id" value="@role.Id">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">@role.Name</label>
                                    </div>
                                }
                            </div>
                            <hr>

                        </div>
                    }

                </div>
                <script>
                    $(document).ready(function () {
                        $('#CheckRoleList .form-check-input').change(function () {
                            if ($(this).is(':checked')) {
                                var roleId = $(this).val(); // Lấy giá trị groupId từ checkbox
                                var userId = $('#userSelect').val();
                                if (userId === "none") {
                                    $('#ChoiseUserPlease').modal('show');
                                }

                                else {
                                    $.ajax({
                                        type: 'POST',
                                        url: 'http://localhost:4000/api/UserGroup/AddRoleToUser?userId=' + userId + '&roleId=' + roleId,
                                        success: function (response) {
                                            alert(response); // Hiển thị thông báo thành công từ phương thức
                                            $('#CheckRoleList input').prop('checked', false);
                                            $.ajax({
                                                type: 'GET',
                                                url: 'http://localhost:4000/api/UserGroup/GetRoleInUser?userId=' + userId,
                                                success: function (data) {

                                                    // Kiểm tra và đánh dấu các ô checkbox trong phạm vi vòng lặp
                                                    data.forEach(function (role) {
                                                        console.log(role.id);
                                                        $("#CheckRoleList input#" + role.id).prop('checked', true);
                                                    });
                                                },
                                                error: function () {
                                                    // Xử lý lỗi khi gọi Ajax
                                                    alert("bug");
                                                }
                                            });
                                            // Xử lý các thao tác khác sau khi thành công (nếu cần)

                                        },
                                        error: function (xhr, status, error) {
                                            alert(error + xhr.responseText + "bugggggg"); // Hiển thị thông báo lỗi từ phương thức

                                            // Xử lý các thao tác khác khi có lỗi (nếu cần)

                                        }
                                    });
                                }

                            }
                            else {
                                var roleId = $(this).val(); // Lấy giá trị groupId từ checkbox
                                var userId = $('#userSelect').val();
                                if (userId === "none") {
                                    $('#ChoiseUserPlease').modal('show');
                                }

                                else {
                                    $.ajax({
                                        type: 'POST',
                                        url: 'http://localhost:4000/api/UserGroup/RemoveRoleToUser?userId=' + userId + '&roleId=' + roleId,
                                        success: function (response) {
                                            alert(response); // Hiển thị thông báo thành công từ phương thức
                                            $('#CheckRoleList input').prop('checked', false);
                                            $.ajax({
                                                type: 'GET',
                                                url: 'http://localhost:4000/api/UserGroup/GetRoleInUser?userId=' + userId,
                                                success: function (data) {

                                                    // Kiểm tra và đánh dấu các ô checkbox trong phạm vi vòng lặp
                                                    data.forEach(function (role) {
                                                        console.log(role.id);
                                                        $("#CheckRoleList input#" + role.id).prop('checked', true);
                                                    });
                                                },
                                                error: function () {
                                                    // Xử lý lỗi khi gọi Ajax
                                                    alert("bug");
                                                }
                                            });
                                            // Xử lý các thao tác khác sau khi thành công (nếu cần)

                                        },
                                        error: function (xhr, status, error) {
                                            alert(xhr.responseText); // Hiển thị thông báo lỗi từ phương thức

                                            // Xử lý các thao tác khác khi có lỗi (nếu cần)

                                        }
                                    });
                                }
                            }
                        });
                    });
                </script>


                @* <div class="row mt-5">
                    <div class="col text-center ">
                        <!-- Đây là nơi để đặt nút lưu -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveClaim">Lưu</button>
                    </div>
                </div>

                <div class="modal fade" id="saveClaim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                    Lưu thay đổi
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-3 justify-content-center">
                                    <div class="col">
                                        <span>
                                            Bạn chắn chắn muốn lưu
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button class="btn btn-success " id="saveBtn">Lưu</button>
                            </div>

                        </div>
                    </div>
                </div> *@

                <div class="modal fade" id="ChoiseUserPlease" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                    Báo Lỗi
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-3 justify-content-center">
                                    <div class="col">
                                        <span>
                                            Vui lòng chọn một người dùng
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>





</div>


<style>
    #main {
        position: absolute;
        top: 69px;
        /* Khoảng cách từ trên xuống */
        bottom: 0;
        /* Chiều cao sẽ chiếm đến cuối trang */
        left: 0;
        /* Khoảng cách từ bên trái sang */
        right: 0;
        /* Khoảng cách từ bên phải sang */
        padding-left: 10px;
        font-family: var(--bs-font-monospace);
        color: #012970;
        text-overflow: ellipsis;
        text-decoration: none;
    }
</style>
