@model List<Order>
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin - Settings";
    decimal totalSums = 0; // Biến để tính tổng

}
<div class="container mb-2">
    <partial name="~/Views/Component/SearchAndAdd.cshtml" />

    <div class="row">
        <div class="col-lg-2"></div>
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <a asp-action="OrderPage" asp-controller="Admin" class="text-decoration-none text-black">

                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Đơn hàng <span>| Hôm nay</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">tăng</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

                <!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">

                    <a asp-action="OrderPage" asp-controller="Admin" class="text-decoration-none text-black">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Doanh thu <span>| Tháng này</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>$3,264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">tăng</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

                <!-- End Revenue Card -->

                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <a asp-action="UserPage" asp-controller="Admin" class="text-decoration-none text-black">

                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Khách hàng <span>| Năm nay</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1244</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">giảm bớt</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </a>
                </div>

                <!-- End Customers Card -->
            </div>

        </div>
    </div>
</div>
<section class="container">


    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Người đặt</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Tổng cộng</th>
                <th>Tình trạng</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.User?.LastName</td>
                    <td>@user.Laptop?.Name</td>
                    <td>@user.Price</td>
                    <td>@user.Quantity</td>
                    <td>@user.Total</td>
                    <td>@user.StatusOrder</td>
                    <td>
                        <button class="btn btn-primary btn-sm deleteButton" value=@user.Id>Xóa</button>
                    </td>
                </tr>
                totalSums += user.Total; // Tính tổng
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Tổng cộng</td>
                <td>@totalSums</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>
<section class=" container">


    <div class="row row-cols-4">
        <div class="col-sm-2">Quản lý sản phẩm</div>
        <div class="col-sm-4">
            <a class="nav-link active text-uppercase" asp-action="LaptopPage" asp-controller="Admin"><i
                    class="fa-solid fa-screwdriver-wrench me-2"></i>Sản phẩm</a>
        </div>
        <div class="col-sm-2">Người dùng</div>
        <div class="col-sm-4">
            <a class="nav-link active text-uppercase" asp-action="UserPage" asp-controller="Admin"><i
                    class="fa-solid fa-screwdriver-wrench me-2"></i>Người dùng</a>
        </div>
    </div>
</section>