@model List<User>
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Admin- Users";

}
<section id="main" style="position: absolute; ">
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Hiển thị thông báo
            $('.alert').show();

            // Tự động ẩn thông báo sau 2 giây
            setTimeout(function () {
                $('.alert').fadeOut('slow');
            }, 2000);
        });
    </script>

    <style>
        .alert {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 9999;
            display: none;
        }
    </style> *@
    <partial name="~/Views/Component/SearchAndAdd.cshtml" />
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Address</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Thao tác</th>

            </tr>
        </thead>
        <tbody>
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="successMessage" class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.BirthDay.ToString("dd/MM/yy")</td>
                    <td>@user.Address</td>
                    <td>@user.Age</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <form method="post" asp-action="AddRole" asp-controller="Admin" asp-route-USerId=@user.Id>
                            <button class="btn btn-primary btn-sm" type="submit">Cấp quyền Moderate</button>
                        </form>
                        @* <button class="btn btn-primary btn-sm OrderBtn" value=@user.Id>Cấp role</button>
                        <button class="btn btn-primary btn-sm deleteButton" value=@user.Id>Xóa</button> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script>
    // Sử dụng JavaScript để tự động ẩn thông báo thành công sau 2 giây
    $(document).ready(function () {
        setTimeout(function () {
            $('#successMessage').fadeOut('slow');
        }, 2000); // 2 giây
    });
</script>

<style>
    #main {
        position: absolute;
        top: 69px;
        /* Khoảng cách từ trên xuống */
        bottom: 0;
        /* Chiều cao sẽ chiếm đến cuối trang */
        left: 0;
        /* Khoảng cách từ bên trái sang */
        right: 0;
        /* Khoảng cách từ bên phải sang */
        padding-left: 10px;
        font-family: var(--bs-font-monospace);
        color: #012970;
        text-overflow: ellipsis;
        text-decoration: none;
    }
</style>
