@model Laptop 
<style>
    .img-card {
        max-height: 200px;
        object-fit: contain;
    }
</style>
<div class="col-lg-4 col-md-6">
    <div class="card mb-4 d-flex flex-column border-0">
        <a asp-action="Detail" asp-controller="Laptop" asp-route-id ="@Model.LaptopId">
            <div class="image-container"
                 style="overflow: hidden; margin-top: 10px;">
                <img class="card-img-top img-card" src=http://localhost:4000/@Model.ImgPath />
            </div>
        </a>
    </div>
    <div class="card-body flex-grow-1 d-flex flex-column">
        <div class="row text-center mb-3">
            <h4>@Model.Name</h4>

        </div>
        <div class="row ms-3 ms-md-5 pt-3 text-black">
            <pre class="fs-7" style="font-family:Roboto Mono">
                @Model.Quantity
            </pre>
        </div>
        <div class="row ms-3 ms-md-5 pt-3 text-black-50" >
            <h3>
                @Model.Price <i class="fa-solid fa-lira-sign"> </i>
            </h3>
        </div>
        <div class="mt-auto" >
            <form asp-action="AddToCart" asp-controller="Cart" method="post" enctype="multipart/form-data">
                <input type="hidden" name="LaptopId" value="@Model.LaptopId" />
                <input type="hidden" name="Quantity" value="1" />
                <div class="container d-flex justify-content-center justify-content-md-around">
                    <button class="btn btn-outline-warning text-black" type="submit">
                        Thêm vào giỏ hàng <i class="fa-solid fa-cart-plus"></i>
                    </button>
                    <button class="btn btn-outline-success text-black">
                        Bình luận <i class="fa-regular fa-credit-card"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>